.card-green {
	background-color: #41B883;
	color: white;
}

.add-button {
	font-size: 8rem;
}

.pointer {
	cursor: pointer;
}

.btn-vue {
	color: #fff;
  	background-color: #41B883;
 	border-color: #41B883;
}


.btn-vue:hover {
  color: #fff;
  background-color: #379e70;
  border-color: #379e70;
}